/*master page*/
.master_body
{
    background-color: #225881;
}
.tbl_master
{
    width: 985px;
    background-color:#FFFFFF;
}
.tbl_master_td
{
    padding-left:7px;
    padding-right:7px;
}
.txt_header
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:bold;
    color: #0453a8;
}
.txt_footer
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    color: #0453a8;
}
/*child page*/
.tbl_child
{
    width: 969px;
}
/*menu*/
a
{
    text-decoration:none;
}
.menu
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #0453a8;
    font-weight:bold;
    text-decoration: none;
}
.tbl_menu
{
    width:100%; 
    height:30px;
    text-align:center;
    padding-top:3px;
    border-spacing:0px;
}
.tbl_menu td
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #0453a8;
    font-weight:bold;
    text-decoration: none;
    vertical-align:bottom;
    cursor:pointer;
}
.tbl_menu td:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #4f88b3;
    color:#ffffff;
    font-weight:bold;
    text-decoration: none;
}
.tbl_menu td a:hover
{
    color:#ffffff;
}
/*body*/
body
{
    bgcolor: #FFFFFF;
    leftmargin: 0;
    topmargin: 0;
    marginwidth :0;
    marginheight :0;
}
.textbox
{
    text-align:center;
    font-style:italic;
    font-size:12px;
    color:#0453a8;
    background-color: #d3deec;
}
.table
{
    width: 100%;
    text-align:center;
}
.table_nb
{
    width: 100%;
    text-align:left;
}
.table_nb td
{
    padding: 5px;
}
.table_tour
{
    width: 100%;
    /* text-align:center; */
}
.table_tour td
{
    padding: 5px;
}
.table_tour_cre
{
    width: 100%;
    text-align:left;
}
.tour_header
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color: #0453a8;
    text-decoration: none;
    text-align: justify;
}
.tour_header:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color: #3391f6;
    text-decoration: none;
}
.tour_content
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    color: #0453a8;
    text-align:justify;
	padding-right: 15px;
	padding-top: 10px;
	padding-left: 10px;
	text-decoration: none;
}
.tour_content_nb
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    color: #0453a8;
    text-align:justify;
	padding-right: 15px;
	padding-top: 10px;
	text-decoration: none;
}
.tour_content_nopadtop
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    color: #0453a8;
    text-align:justify;
	padding-right: 15px;
	padding-left: 10px;
	text-decoration: none;
	vertical-align:top;
}
.tour_content_nopadtop a
{
    color: #0453a8;
    text-decoration: none;
}
.tour_content_paging
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #808080;
    text-decoration: none;
}
.lbl_tour_cre
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color: #0453a8;
    text-decoration:none;
}
.style1
{
    width: 103px;
    vertical-align: middle;
}
.txt_tour_cre
{
    
}
.info
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:bold;
    color: #0453a8;
    text-align:justify;
}
.img_km
{
    height: 91px;
    width: 135px;
}
.img_nb
{
    height: 85px;
    width: 85px;
}
.tbl_tour_list
{
    border-spacing:0px;
    border-color:#ffffff;
    width: 170px;
    background-color:#cbe2f3;
    padding-top:10px;
    padding-bottom:45px;
}
.tbl_tour_list td
{
    height: 35px;
    padding-left:30px;
    padding-right:20px;
}
.tbl_tour_list td:hover
{
    background-color: #ffffff;
}
.tbl_tour_list_selected
{
    background-color: #ffffff;
}
/*effect*/
.tbl_popup_menu
{
    border-spacing:0px;
}
.tbl_popup_menu td
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:bold;
    height: 40px;
    text-decoration: none;
    vertical-align:bottom;
    /*opacity*/
    background-color: #708dc2;
    opacity: 0.3; /*for firefox*/
    filter: alpha(opacity=30); /*for ie*/
}
.tbl_popup_menu td:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #4f88b3;
    color:#ffffff;
    font-weight:bold;
    text-decoration: none;
}
/*Event*/
.event_title
{
    color: #0453a8;
}
.event_title:hover
{
    color: #3391f6;
}